div
  input(type="checkbox", id="show_person_create_new")
  label(for="show_person_create_new") Create A New Person in Master List
  div.add
    form
      input(type="hidden", name="band_id", value="#{band_id}")
      select(name="person_id")
        each person in non_band_members
          option(value="#{person.id}") #{person.full_name}
      input(type="submit", value="Add")
  div.new
    form
      input(type="hidden", name="band_id", value="#{band_id}")
      input(type="text", name="name", placeholder="New Login Name")
      input(type="text", name="full_name", placeholder="Full Name")
      input(type="submit", value="New")
