crypto/mail_info.txt
crypto/rsa_private.pem
crypto/rsa_private.pem.old
crypto/rsa_public.pem
crypto/rsa_public.pem.old
bombay.db
bombay_test.db
public/html
public/javascripts/lib
public/test/lib/chai.js
public/test/lib/mocha.css
public/test/lib/mocha.js

*~
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules