div
  input(type="button", id="show_create_band", name="create_band", value="+")
  label(for="show_create_band") Create A Band

  form
    input(type="hidden", name="person_id", value="#{person_id}")
    select(name="band_id")
      each band in other_bands
        option(value="#{band.id}") #{band.name}
    input(type="submit", value="Join")
