table(cellpadding="0", cellspacing="0")
  tr
    th Artist Name

    if system_admin
      th
  each artist in artists
    tr.display(artist_id="#{artist.id}")
      td #{artist.name}
  
      if system_admin
        if artist.song_count > 0
          td #{artist.song_count}
        else
          td.delete &#x2327;
