div#confirm_dialog(data-bind="visible: confirm_dialog.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Confirm Dialog
        div.close_button
          button.close_button(data-bind="click: function() { confirm_dialog.doCancel() }") X

      div.dialog_body
        div.dialog_message(data-bind="text: confirm_dialog.messageText")
        div.dialog_buttons
          div.dialog_button(data-bind="click: function() { confirm_dialog.doOkay() }") Okay
          div.dialog_button(data-bind="click: function() { confirm_dialog.doCancel() }") Cancel