extends layout

block content
  div.messages #{messages}
  div.navigation
    div.band_selector
      div Current Band
      div
        select(data-bind="options: $root.current_bands, value: current_band, optionsText: 'name'")

    div.band_selector
      div Current Person
      div
        select(data-bind="options: $root.people, value: current_person, optionsText: 'name'")

    div.band_selector
      a(href="./logout") Logout

  div.app_container
    include tabs/bands.jade
    include tabs/my_bands.jade
    include tabs/band_members.jade
    include tabs/artists.jade
    include tabs/songs.jade
    include tabs/band_songs.jade

  div#join_band_form(data-bind="visible: joinBandFormVisible")
    div.dialog_background
      div.dialog
        div.title_bar
          div.title Join Band
          div.close_button
            button.close_button(data-bind="click: hideJoinBandForm") X

        div.control
          button.edit_button(id="add_bands", data-bind="click: showBandForm") +
          label(for="add_bands") Add Band

        div.dialog_body
          form(data-bind="submit: joinBand")
            select(data-bind="options: $root.other_bands, value: newBandMemberBand, optionsText: 'name'")
            input(type="submit", value="Join")

  div#add_band_form(data-bind="visible: bandFormVisible")
    div.dialog_background
      div.dialog
        div.title_bar
          div.title Add Band
          div.close_button
            button.close_button(data-bind="click: hideBandForm") X

        div.dialog_body
          form(data-bind="submit: addBand")
            input(data-bind="value: newBandName", type="text", placeholder="New Band Name")
            input(type="submit", value="Add")

  div#add_band_member_form(data-bind="visible: bandMemberFormVisible")
    div.dialog_background
      div.dialog
        div.title_bar
          div.title Add Band Member
          div.close_button
            button.close_button(data-bind="click: hideBandMemberForm") X

        div.control
          button.edit_button(id="add_people", data-bind="click: showPersonForm") +
          label(for="add_people") Add Person

        div.dialog_body
          form(data-bind="submit: addBandMember")
            select(data-bind="options: $root.other_people, value: newBandMemberPerson, optionsText: 'name'")
            input(type="submit", value="Add")


  div#add_person_form(data-bind="visible: personFormVisible")
    div.dialog_background
      div.dialog
        div.title_bar
          div.title Add Person
          div.close_button
            button.close_button(data-bind="click: hidePersonForm") X

        div.dialog_body
          form(data-bind="submit: addPerson")
            input(data-bind="value: newPersonLoginName", type="text", placeholder="New Login Name")
            input(data-bind="value: newPersonFullName", type="text", placeholder="Full Name")
            input(data-bind="value: newPersonEmail", type="email", placeholder="E-Mail")
            input(type="submit", value="Add")


  div#add_artist_form(data-bind="visible: artistFormVisible")
    div.dialog_background
      div.dialog
        div.title_bar
          div.title Add Artist
          div.close_button
            button.close_button(data-bind="click: hideArtistForm") X

        div.dialog_body
          form(data-bind="submit: addArtist")
            input(data-bind="value: newArtistName", type="text", placeholder="New Artist Name")
            input(type="submit", value="Add")

  div#add_song_form(data-bind="visible: songFormVisible")
    div.dialog_background
      div.dialog
        div.title_bar
          div.title Add Song
          div.close_button
            button.close_button(data-bind="click: hideSongForm") X

        div.control
          button.edit_button(id="add_artists", data-bind="click: showArtistForm") +
          label(for="add_artists") Add Artist

        div.dialog_body
          form(data-bind="submit: addSong")
            input(data-bind="value: newSongName", type="text", placeholder="New Song Name")
            select(data-bind="options: $root.artists, value: newSongArtist, optionsText: 'name'")
            input(type="submit", value="Add")

  div#add_band_song_form(data-bind="visible: bandSongFormVisible")
    div.dialog_background
      div.dialog
        div.title_bar
          div.title Add Band Song
          div.close_button
            button.close_button(data-bind="click: hideBandSongForm") X

        div.control
          button.edit_button(id="add_songs", data-bind="click: showSongForm") +
          label(for="add_songs") Add Song

        div.dialog_body
          form(data-bind="submit: addBandSong")
            select(data-bind="options: $root.non_band_songs, value: newBandSongSong, optionsText: 'description'")
            input(type="submit", value="Add")

