extends layout

block content
  div.messages #{messages}
  div.navigation
    div.tab_selector
      div
        select(data-bind="options: $root.tab_list, \
                          value: current_tab, \
                          optionsText: 'value_text'")

    div.band_selector(data-bind="if: current_person")
      div Current Band
      div
        select(data-bind="options: current_band_list, value: current_band, optionsText: 'name'")

      div(data-bind="with: current_person")
        button(class="person_edit", data-bind="text: full_name, click: $root.showPersonDropDown")
        drop-down-menu(id="person_edit", params="profile: 'Edit Profile', password: 'Change Password'")

    div.band_selector
      a(href="./logout") Logout

  div.app_container
    include tabs/bands.jade
    include tabs/persons.jade
    include tabs/my_bands.jade
    include tabs/band_members.jade
    include tabs/artists.jade
    include tabs/songs.jade
    include tabs/band_songs.jade
    include tabs/dashboard.jade

  //- div.forms
    //- include forms/change_password.jade
    //- include forms/create_rehearsal_plan.jade
