extends layout

block content
  div.messages #{messages}
  div.navigation
    div.tab_selector
      div
        select(data-bind="options: $root.tab_list, value: current_tab, optionsText: 'value_text'")

    div.band_selector
      div Current Band
      div
        select(data-bind="options: $root.current_bands, value: current_band, optionsText: 'name'")

      div
        button(data-bind="text: $root.current_person().full_name, click: forms.edit_profile.show.bind(forms.edit_profile)")

    div.band_selector
      a(href="./logout") Logout

  div.app_container
    include tabs/bands.jade
    include tabs/persons.jade
    include tabs/my_bands.jade
    include tabs/band_members.jade
    include tabs/artists.jade
    include tabs/songs.jade
    include tabs/band_songs.jade
    include tabs/dashboard.jade

  div.forms
    include forms/add_band.jade
    include forms/edit_band.jade
    include forms/join_band.jade
    include forms/add_person.jade
    include forms/edit_profile.jade
    include forms/change_password.jade
    include forms/add_band_member.jade
    include forms/add_artist.jade
    include forms/edit_artist.jade
    include forms/add_song.jade
    include forms/edit_song.jade
    include forms/add_band_song.jade

  div.dialogs
    include confirm_dialog.jade