doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='./javascripts/lib/knockout-3.2.0.js')
      script(src='./javascripts/lib/javascripts/pidcrypt.js')
      script(src='./javascripts/lib/javascripts/pidcrypt_util.js')
      script(src='./javascripts/lib/javascripts/asn1.js')
      script(src='./javascripts/lib/javascripts/jsbn.js')
      script(src='./javascripts/lib/javascripts/rng.js')
      script(src='./javascripts/lib/javascripts/prng4.js')
      script(src='./javascripts/lib/javascripts/rsa.js')
      script(src='./javascripts/components.js')
      script(src='./javascripts/sapphire.js')
      script(src='./javascripts/constants.js')
      script(src='./javascripts/util.js')
      script(src='./javascripts/confirm_dialog.js')
      script(src='./javascripts/service.js')
      script(src='./javascripts/service/generic.js')
      script(src="./javascripts/view_model/KnockoutOrm.js")
      script(src="./javascripts/view_model/Manager.js")
      script(src="./javascripts/view_model/Reports.js")
      script(src="./javascripts/forms/Form.js")
      script(src="./javascripts/forms/Login.js")
      script(src='./javascripts/startup.js')

  body(onload='app_start()')
    block content
