doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='./javascripts/constants.js')
      script(src='./javascripts/lib/knockout-3.0.0.js')
      script(src='./javascripts/lib/javascripts/pidcrypt.js')
      script(src='./javascripts/lib/javascripts/pidcrypt_util.js')
      script(src='./javascripts/lib/javascripts/asn1.js')
      script(src='./javascripts/lib/javascripts/jsbn.js')
      script(src='./javascripts/lib/javascripts/rng.js')
      script(src='./javascripts/lib/javascripts/prng4.js')
      script(src='./javascripts/lib/javascripts/rsa.js')
      script(src='./javascripts/util.js')
      script(src='./javascripts/confirm_dialog.js')
      script(src='./javascripts/service.js')
      script(src='./javascripts/service/generic.js')
      script(src="./javascripts/view_model/Table.js")
      script(src="./javascripts/view_model/Band.js")
      script(src="./javascripts/view_model/Person.js")
      script(src="./javascripts/view_model/Artist.js")
      script(src="./javascripts/view_model/Song.js")
      script(src="./javascripts/view_model/BandMember.js")
      script(src="./javascripts/view_model/BandSong.js")
      script(src="./javascripts/view_model/SongRating.js")
      script(src="./javascripts/view_model/Request.js")
      script(src="./javascripts/view_model/Manager.js")
      script(src="./javascripts/view_model/Reports.js")
      script(src="./javascripts/forms/Form.js")
      script(src="./javascripts/forms/Login.js")
      script(src='./javascripts/startup.js')

  body(onload='app_start()')
    block content
