doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='./javascripts/lib/bower_lib.js')
      script(src='./javascripts/components.js')
      script(src='./javascripts/sapphire.js')
      script(src='./javascripts/constants.js')
      script(src='./javascripts/util.js')
      script(src='./javascripts/service.js')
      script(src='./javascripts/service/generic.js')
      script(src='./javascripts/view_model/KnockoutOrm/Ajax.js')
      script(src="./javascripts/view_model/KnockoutOrm.js")
      script(src='./javascripts/view_model/KnockoutOrm/Forms.js')
      script(src="./javascripts/CustomBindingHandlers.js")
      script(src="./javascripts/view_model/Manager.js")
      script(src="./javascripts/forms/Login.js")
      script(src='./javascripts/startup.js')

  body(onload='app_start()')
    block content
