doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='./templates.js')
      script(src='./javascripts/Util.js')
      script(src='./javascripts/Dialog.js')
      script(src='./javascripts/Service.js')
      script(src='./javascripts/AppContext.js')
      script(src='./javascripts/AppStart.js')

  body(onload='AppStart()')
    block content