doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='./templates.js')
      script(src='./javascripts/lib/knockout-3.0.0.js')
      script(src='./javascripts/util.js')
      script(src='./javascripts/startup.js')

  body(onload='app_start()')
    block content