div
  input(type="button", id="show_create_song", name="create_song", value="+")
  label(for="show_create_song") Create A Song

  form
    input(type="hidden", name="band_id", value="#{band_id}")
    select(name="song_id")
      each song in other_songs
        option(value="#{song.id}") #{song.description}
    input(type="submit", value="Add")
