div.sort
  select(name="sort_type")
    option(value="song_name") Song Name (A-Z)
    option(value="song_name_rev") Song Name (Z-A)
    option(value="artist_name") Artist Name (A-Z)
    option(value="artist_name_rev") Artist Name (Z-A)
    option(value="average_rating") Average Rating (Low-High)
    option(value="average_rating_rev") Average Rating (High-Low)
