container-width = 1200px
container-height = 700px

text-color = white
base-color = black
main-border-color = #3f8c83

panel-background-color = #b8dfda
panel-text-color = black
stripe-color-even = #fefeea
stripe-color-odd = #ecedd3

table-header-background-color = #1f4641
table-header-color = #dceeec

dialog-background-color = panel-background-color
dialog-text-color = panel-text-color
dialog-message-background-color = table-header-background-color
dialog-message-color = table-header-color
dialog-outer-width = 600px
dialog-outer-height = 150px
dialog-padding = 5px
dialog-border-width = 2px
dialog-inner-width = dialog-outer-width - ((dialog-padding + dialog-border-width) * 2)

button-background-color = panel-background-color
button-text-color = panel-text-color
button-min-width = 30px
button-min-height = 30px
button-padding = 2px
button-border-width = 2px

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: base-color
  color: text-color

.navigation
  background-color: panel-background-color
  color: panel-text-color
  padding: 0 10px 0 10px
  border: 1px solid main-border-color
  display: inline-block
  border-radius: 10px 10px 0 0
  height: 31px
  vertical-align:top
  position: absolute
  top: 5px
  right: 57px
  z-index: 1
  div
    text-align: left
    display: inline-block

.band_selector
  padding-bottom: 10px
  display: inline-block
  div
    padding: 5px
    display: inline-block
  div, a
    padding: 5px
    display: inline-block

.app_container
  width: container-width
  height: container-height
  position: relative
  display: inline-block

// app_context styles
.app_context
  position: relative

.app_context > a
  text-decoration: none
  color: panel-text-color
  float: left
  padding: 5px 10px 5px 10px
  border: 2px solid main-border-color
  margin-right: 10px
  position: static
  border-radius: 10px 10px 0 0

.app_context:not(:target) > a
  background-color: base-color
  color: text-color
  z-index: 0

.app_context:target > a
  background-color: panel-background-color
  border-bottom-color: panel-background-color
  color: panel-text-color
  z-index: 0

.app_context > div
  background-color: panel-background-color
  z-index: 2
  left: 0
  top: 29px
  bottom: 0
  right: 0
  padding: 20px
  border 1px solid main-border-color
  position: absolute
  overflow: hidden
  height: 640px
  border-radius: 0 0 10px 10px

.app_context:not(:target) > div
  z-index: -1

.app_context:target > div
  z-index: 0

// app_context_item styles
.app_context_item
  padding: 10px
  color: panel-text-color

.app_context_item > div
  position: absolute
  top: 10px

.app_context_item > .form
  left: 10px

.app_context_item > .table
  right 10px

.app_context_item .creator
  margin-bottom: 10px

.app_context_item .display
  font-size: 120%
  

  .filters
    font-size: 90%
    border-style: solid
    border-width: 1px
    margin: 5px 0 5px 0

    .sort
      border-style: solid
      border-width: 1px
      display: inline-block
      padding: 1px

    .filter
      border-style: solid
      border-width: 1px
      display: inline-block
      padding: 1px

.close_button, .edit_button
  display: inline-block
  border-style: solid
  border-color: main-border-color
  border-radius: 5px
  border-width: button-border-width
  min-height: button-min-height
  min-width: button-min-width
  padding: button-padding;
  background-color: button-background-color
  color: button-text-color
  font-size: 20px
  text-align: center

.control label
  display: inline-block
  margin-left: 10px

//
.control
  width: 860px
  display: block

.display
  width: 860px

  .list
    overflow: auto
    width: 840px
    height: 630px
  
    table
      border-style: solid
      border-color: main-border-color
      border-width: 1px;
  
    tr:nth-child(even)
      background-color: stripe-color-even
  
    tr:nth-child(odd)
      background-color: stripe-color-odd
  
    th
      padding: 5px 5px 0 10px
      border-style none solid solid none
      border-width 0 1px 5px 0
      background-color: table-header-background-color
      color: table-header-color
  
    td
      padding: 10px 5px 0 10px
      border-style: none solid none none
      border-width: 0 1px 0 0

    td.band_admin
      text-align: center;

    th, td
      text-align: left
  
    th:last-child, td:last-child
      text-align: left
      border-right-style: none
      border-right-width: 0

// Dialog classes
#add_band_form .dialog_background
  z-index: 200

#join_band_form .dialog_background
  z-index: 180

#add_band_member_form .dialog_background
  z-index: 180

#add_person_form .dialog_background
  z-index: 200

#add_artist_form .dialog_background
  z-index: 200

#add_song_form .dialog_background
  z-index: 180

#add_band_song_form .dialog_background
  z-index: 160

#confirm_dialog .dialog_background
  z-index: 250

.dialog_background
  width: container-width
  height: container-height
  top: 0
  left: 0
  position: absolute

  .dialog_box
    width: 300px
    top: (@height / 2) + 25
    left: (container-width / 2) - (@width / 2)
    position: absolute
    background-color: dialog-background-color
    border-style: solid
    border-color: main-border-color
    border-radius: 10px
    padding: 20px


.dialog
  width: dialog-outer-width
  background-color: dialog-background-color
  color: dialog-text-color
  border-style: solid
  border-color: main-border-color
  border-radius: 5px
  border-width: dialog-border-width
  padding: dialog-padding
  position: absolute
  top: (dialog-outer-height / 2) + 25
  left: (container-width / 2) - (@width / 2)

  .title_bar
    display: block
    width: dialog-outer-width - ((dialog-border-width + dialog-padding) * 2)
    height: button-min-height
    background-color: dialog-message-background-color
    color: dialog-message-color
    border-style: solid
    border-color: main-border-color
    border-radius: 5px
    border-width: dialog-border-width
    padding: dialog-padding

    .title
      display: inline-block
      width: dialog-inner-width - (button-min-width + ((button-padding + button-border-width) * 2))
      height: button-min-height
      vertical-align: middle

    .close_button
      width: button-min-width
      height: button-min-height

  .dialog_body
    background-color: panel-background-color
    color: panel-text-color
    border-style: solid
    border-color: main-border-color
    border-radius: 5px
    padding: 10px
    margin-top: 5px

    .dialog_message
       background-color: dialog-message-background-color
       color: dialog-message-color
       border-radius: 10px
       padding: 20px
       margin-bottom: 10px

    .dialog_buttons
       .dialog_button
          background-color: dialog-message-background-color
          color: dialog-message-color
          display: inline-block
          width: 75px
          height: 20px
          border-style: solid
          border-color: main-border-color
          border-radius: 5px
          padding: 10px

       .dialog_button:first-child
          margin-left: 10px
          margin-right: 40px


.rating_container
  width: 100px;

.rating_value
  display: inline-block;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;

.rating_clicker
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  color: white;
  text-align: center;

.rating_clicker:hover
  background-color: red;

.rating_clicker_hover
  background-color: green;
  color: green

.rating_clicker_selected
  background-color: black;
  color: black