body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #aa7;
}
.navigation {
  background-color: #cc9;
  padding: 5px 10px 5px 10px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 10px 0 0 10px;
  width: 190px;
  vertical-align: top;
  margin-top: 29px;
}
.navigation div {
  display: block;
  text-align: left;
}
.band_selector {
  padding-bottom: 10px;
}
.band_selector div {
  padding: 5px;
}
.band_selector div,
.band_selector a {
  padding: 5px;
}
.app_container {
  width: 1000px;
  height: 700px;
  position: relative;
  display: inline-block;
}
.app_context {
  position: relative;
}
.app_context > a {
  text-decoration: none;
  color: #000;
  float: left;
  padding: 5px 10px 5px 10px;
  border: 1px solid #000;
  margin-right: 10px;
  position: static;
  border-radius: 10px 10px 0 0;
}
.app_context:not(:target) > a {
  background-color: #aa7;
  z-index: 0;
}
.app_context:target > a {
  background-color: #cc9;
  border-bottom-color: #cc9;
  z-index: 0;
}
.app_context > div {
  background-color: #cc9;
  z-index: 2;
  left: 0;
  top: 29px;
  bottom: 0;
  right: 0;
  padding: 20px;
  border: 1px solid #000;
  position: absolute;
  overflow: hidden;
  height: 640px;
  border-radius: 0 10px 10px 10px;
}
.app_context:not(:target) > div {
  z-index: -1;
}
.app_context:target > div {
  z-index: 0;
}
.app_context_item {
  padding: 10px;
}
.app_context_item > div {
  position: absolute;
  top: 10px;
}
.app_context_item > .form {
  left: 10px;
}
.app_context_item > .table {
  right: 10px;
}
.app_context_item .creator {
  margin-bottom: 10px;
}
.app_context_item .display {
  font-size: 120%;
}
.app_context_item .display .filters {
  font-size: 90%;
  border-style: solid;
  border-width: 1px;
  margin: 5px 0 5px 0;
}
.app_context_item .display .filters .sort {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 1px;
}
.app_context_item .display .filters .filter {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 1px;
}
.container > input[id*="creator"]:checked ~ div.creator {
  display: block;
}
.container > input[id*="creator"]:not(:checked) ~ div.creator {
  display: none;
}
.container > input[id*="display"]:checked ~ div.display {
  display: block;
}
.container > input[id*="display"]:not(:checked) ~ div.display {
  display: none;
}
.container > input[id*="creator"]:checked ~ div.display >div.list {
  height: 550px;
}
.container > input[id*="creator"]:not(:checked) ~ div.display >div.list {
  height: 630px;
}
.creator {
  overflow: auto;
  width: 900px;
  height: 50px;
}
.creator div > div:first-of-type {
  display: block;
}
.creator div > div:last-of-type {
  display: none;
}
.creator input:checked ~ div:first-of-type {
  display: none;
}
.creator input:checked ~ div:last-of-type {
  display: block;
}
.display {
  width: 860px;
}
.display .list {
  overflow: auto;
  width: 840px;
  height: 630px;
}
.display .list table {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}
.display .list tr:nth-child(even) {
  background-color: #eeb;
}
.display .list tr:nth-child(odd) {
  background-color: #ffc;
}
.display .list th {
  padding: 5px 5px 0 10px;
  border-style: none solid solid none;
  border-width: 0 1px 5px 0;
  background-color: #885;
}
.display .list td {
  padding: 10px 5px 0 10px;
  border-style: none solid none none;
  border-width: 0 1px 0 0;
}
.display .list th,
.display .list td {
  text-align: left;
}
.display .list th:last-child,
.display .list td:last-child {
  text-align: left;
  border-right-style: none;
  border-right-width: 0;
}
#band_members .creator input[name="name"] {
  width: 100px;
}
#band_members .creator input[name="full_name"] {
  width: 300px;
}
#band_members .creator input[type="submit"] {
  width: 50px;
}
#band_members .list_table th:nth-child(1),
.band_member .list table td:nth-child(1) {
  width: 100px;
}
#band_members .list_table th:nth-child(2),
.band_member .list table td:nth-child(2) {
  width: 300px;
}
#band_members .list_table th:nth-child(3),
.band_member .list table td:nth-child(3) {
  width: 50px;
}
.dialog_background {
  width: 1000px;
  height: 700px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
}
.dialog_background .dialog_box {
  width: 300px;
  height: 300px;
  top: 50px;
  left: 350px;
  position: absolute;
  background-color: #ffa;
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
  padding: 20px;
}
.dialog_background .dialog_box .dialog_message {
  width: 260px;
  height: 220px;
  background-color: #aa7;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
.dialog_background .dialog_box .dialog_buttons {
  width: 300px;
  height: 30px;
}
.dialog_background .dialog_box .dialog_buttons .dialog_button {
  display: inline-block;
  width: 75px;
  height: 20px;
  background-color: #aa7;
  border-style: solid;
  border-color: #000;
  border-radius: 5px;
  padding: 10px;
}
.dialog_background .dialog_box .dialog_buttons .dialog_button:first-child {
  margin-left: 10px;
  margin-right: 40px;
}
