div.app_context(id="artists", data-bind="visible: $root.current_tab().value == 5")
  div.app_context_header Artists
  div.app_context_item
    div.display
      div.control
        button.edit_button(id="add_artists", data-bind="click: forms.add_artist.show.bind(forms.add_artist)") +
        label(for="add_artists") Add Artist

      div.filters
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort(data-bind="with: artists")
                  select(data-bind="value: sort_type, options: sort_compare_labels, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter(data-bind="with: artists.filter_values")
                  div.filter_label Name
                  input(type="text", data-bind="value: name, valueUpdate: 'afterkeydown'")

                div.filter(data-bind="with: artists.filter_values")
                  div.filter_title Song Count
                  div
                    div.filter_label Min
                    input(type="number", inputmode="numeric", data-bind="value: minimum_song_count, valueUpdate: 'afterkeydown'")

                  div
                    div.filter_label Max
                    input(type="number", inputmode="numeric", data-bind="value: maximum_song_count, valueUpdate: 'afterkeydown'")

      div.list
        table
          thead
            tr
              th
              th Name
              th Song Count
              th

          tbody(data-bind="foreach: artists.filtered_list")
            tr
              td(data-bind="click: $root.edit_table_object.bind($root.forms.edit_artist)") &#x270e;
              td(data-bind="text: name")
              td(data-bind="text: song_count")
              td(data-bind="ifnot: song_count")
                button.edit_button(data-bind="click: $root.delete_table_object") -
