div.app_context(id="artists", data-bind="visible: $root.current_tab().value == 5")
  div.app_context_header Artists
  div.app_context_item
    div.display
      div.control(data-bind="with: artist")
        button.edit_button(data-bind="click: showForm") +
        label(for="add_artists") Add Artist

      div.filters(data-bind="with: artist")
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort(data-bind="with: sort")
                  select(data-bind="value: sort_type, options: compare_labels, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter(data-bind="with: filters.name")
                  input(type="checkbox", data-bind="checked: active")
                  div.filter_label Name
                  input(type="text", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                div.filter
                  div.filter_title Song Count
                  div(data-bind="with: filters.min_song_count")
                    input(type="checkbox", data-bind="checked: active")
                    div.filter_label Min
                    input(type="number", inputmode="numeric", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                  div(data-bind="with: filters.max_song_count")
                    input(type="checkbox", data-bind="checked: active")
                    div.filter_label Max
                    input(type="number", inputmode="numeric", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

      div.list
        table
          thead
            tr
              th
              th Name
              th Song Count
              th

          tbody(data-bind="foreach: artist.sort.getList")
            tr
              td(data-bind="click: showForm") &#x270e;
              td(data-bind="text: name")
              td(data-bind="text: songCount")
              td(data-bind="ifnot: songCount")
                button.edit_button(data-bind="click: deleteRow") -
