section.app_context(id="band_songs")
  a(href="#band_songs") Band Songs
  div.app_context_item
    div.display
      div.control
        button.edit_button(id="add_band_songs", data-bind="click: forms.add_band_song.show.bind(forms.add_band_song)") +
        label(for="add_band_songs") Add Band Song

      div.filters
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort
                  select(data-bind="options: band_songs.sort_compare_labels, value: band_songs.sort_type, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter
                  label(for="band_songs_name_filter") Song Name
                  input(name="band_songs_name_filter", type="text", data-bind="value: band_songs.filter_values.song_name, valueUpdate: 'afterkeydown'")

                div.filter
                  label(for="band_songs_artist_id_filter") Artist
                  select(name="band_songs_artist_id_filter", data-bind="options: manager.artists.list, value: band_songs.filter_values.artist_id, optionsText: 'name', optionsValue: 'id', optionsCaption: '-'")
              
      div.list
        table
          thead
            tr
              th Name
              th Artist Name
              th Status
              th Member Rating
              th Average Rating
              th

          tbody(data-bind="foreach: current_band_songs")
            tr
              td(data-bind="text: song().name")
              td(data-bind="text: song().artist().name")
              td
                select(name="song_status", data-bind="value: song_status, enable: $root.current_band_member().band_admin, event: { change: $root.update_table_object }")
                 option(value=-2) Retired
                 option(value=-1) Proposed
                 option(value=0) New
                 option(value=1) Learning
                 option(value=2) Run Through
                 option(value=3) Ready
                 option(value=4) Standard

              td(data-bind="clickRating: member_rating")
              td(data-bind="showRating: average_rating")
              td(data-bind="if: $root.current_band_member().band_admin")
                button.edit_button(data-bind="click: $root.delete_table_object") -
