section.app_context(id="bands", data-bind="if: $root.current_person().system_admin")
  a(href="#bands") All Bands
  div.app_context_item
    div.display
      div.control
        button.edit_button(id="add_bands", data-bind="click: forms.add_band.show.bind(forms.add_band)") +
        label(for="add_bands") Add Band

      div.list
        table
          thead
            tr
              th Name
              th Member Count
              th

          tbody(data-bind="foreach: bands.list")
            tr
              td(data-bind="text: name")
              td(data-bind="text: band_member_count")
              td(data-bind="ifnot: band_member_count")
                button.edit_button(data-bind="click: $root.delete_table_object") -
