div.app_context(id="bands", data-bind="if: current_is_system_admin, visible: $root.current_tab().value == 1")
  div.app_context_header All Bands
  div.app_context_item
    div.display
      div.control
        //- button.edit_button(id="add_bands", data-bind="click: forms.add_band.show.bind(forms.add_band)") +
        //- label(for="add_bands") Add Band

      div.filters(data-bind="with: band")
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort(data-bind="with: sort")
                  select(data-bind="value: sort_type, options: compare_labels, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter(data-bind="with: filters.name")
                  input(type="checkbox", data-bind="checked: active")
                  div.filter_label Name
                  input(type="text", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                div.filter
                  div.filter_title Member Count
                  div(data-bind="with: filters.min_member_count")
                    input(type="checkbox", data-bind="checked: active")
                    div.filter_label Min
                    input(type="number", inputmode="numeric", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                  div(data-bind="with: filters.max_member_count")
                    input(type="checkbox", data-bind="checked: active")
                    div.filter_label Max
                    input(type="number", inputmode="numeric", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                div.filter
                  div.filter_title Song Count
                  div(data-bind="with: filters.min_song_count")
                    input(type="checkbox", data-bind="checked: active")
                    div.filter_label Min
                    input(type="number", inputmode="numeric", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                  div(data-bind="with: filters.max_song_count")
                    input(type="checkbox", data-bind="checked: active")
                    div.filter_label Max
                    input(type="number", inputmode="numeric", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

      div.list
        table
          thead
            tr
              //- th
              th Name
              th Member Count
              th Song Count
              //- th

          tbody(data-bind="foreach: band.sort.getList")
            tr
              //- td(data-bind="click: $root.edit_table_object.bind($root.forms.edit_band)") &#x270e;
              td(data-bind="text: name")
              td(data-bind="text: bandMemberCount")
              td(data-bind="text: bandSongCount")
              //- td(data-bind="ifnot: isPopulated")
                //- button.edit_button(data-bind="click: $root.delete_table_object") -
