section.app_context(id="band_songs")
  a(href="#band_songs") Band Songs
  div.app_context_item
    div.display
      div.control(data-bind="if: $root.current_band_member().band_admin")
        button.edit_button(id="add_band_songs", data-bind="click: forms.add_band_song.show.bind(forms.add_band_song)") +
        label(for="add_band_songs") Add Band Song

      div.list
        table
          thead
            tr
              th Name
              th Artist Name
              th Status
              th Member Rating
              th Average Rating
              th

          tbody(data-bind="foreach: current_band_songs")
            tr
              td(data-bind="text: song().name")
              td(data-bind="text: song().artist().name")
              td
                select(name="song_status", data-bind="value: status, enable: $root.current_band_member().band_admin, event: { change: $root.update_table_object }")
                 option(value=-2) Retired
                 option(value=-1) Proposed
                 option(value=0) New
                 option(value=1) Learning
                 option(value=2) Run Through
                 option(value=3) Ready
                 option(value=4) Standard

              td(data-bind="text: member_rating")
              td(data-bind="text: average_rating")
              td(data-bind="if: $root.current_band_member().band_admin")
                button.edit_button(data-bind="click: $root.delete_table_object") -
