div.app_context(id="band_songs", data-bind="visible: $root.current_tab().value == 7")
  div.app_context_header Band Songs
  div.app_context_item
    div.display
      div.control
        button.edit_button(id="add_band_songs", data-bind="click: forms.add_band_song.show.bind(forms.add_band_song)") +
        label(for="add_band_songs") Add Band Song

      div.filters
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort(data-bind="with: band_songs")
                  select(data-bind="value: sort_type, options: sort_compare_labels, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter(data-bind="with: band_songs.filter_values")
                  div.filter_label Song Name
                  input(type="text", data-bind="value: song_name, valueUpdate: 'afterkeydown'")

                div.filter(data-bind="with: band_songs.filter_values")
                  div.filter_label Artist
                  div(data-bind="searchableSelect: artist_id, optionsList: manager.artists.list, optionsText: 'name', optionsValue: 'id', optionsCaption: '-All Artists-'")
              
                div.filter(data-bind="with: band_songs.filter_values")
                  div.filter_title Status
                  div
                    div.filter_label Min
                    select(data-bind="value: minimum_status, options: $root.song_status_map, optionsText: 'value_text', optionsValue: 'value'");

                  div
                    div.filter_label Max
                    select(data-bind="value: maximum_status, options: $root.song_status_map, optionsText: 'value_text', optionsValue: 'value'");

                div.filter(data-bind="with: band_songs.filter_values")
                  div.filter_title Average Rating
                  div
                    div.filter_label Min
                    div(data-bind="clickRating: minimum_average_rating")

                  div
                    div.filter_label Max
                    div(data-bind="clickRating: maximum_average_rating")

      div.list
        table
          thead
            tr
              th Name
              th Artist Name
              th Status
              th Primary Vocal
              th Secondary Vocal
              th Key
              th Member Rating
              th Average Rating
              th

          tbody(data-bind="foreach: current_band_songs")
            tr
              td(data-bind="text: song().name")
              td(data-bind="text: song().artist().name")
              td
                select(name="song_status", data-bind="value: song_status, options: $root.song_status_map, enable: $root.current_band_member().band_admin, optionsText: 'value_text', optionsValue: 'value', event: { change: $root.update_table_object }")

              td
                select(name="primary_vocal_id", data-bind="value: primary_vocal_id, enable: $root.current_band_member().band_admin, options: $root.current_members, optionsText: 'full_name', optionsValue: 'id', optionsCaption: '-- No Set --', event: { change: $root.update_table_object }")

              td
                select(name="primary_vocal_id", data-bind="value: secondary_vocal_id, enable: $root.current_band_member().band_admin, options: $root.current_members, optionsText: 'full_name', optionsValue: 'id', optionsCaption: '-- No Set --', event: { change: $root.update_table_object }")

              td
                select(name="key_signature", data-bind="value: key_signature, enable: $root.current_band_member().band_admin, options: manager.key_signature_map, optionsText: 'value_text', optionsValue: 'value', event: { change: $root.update_table_object }")
              td(data-bind="clickRating: member_rating")
              td(data-bind="showRating: average_rating")
              td(data-bind="if: $root.current_band_member().band_admin")
                button.edit_button(data-bind="click: $root.delete_table_object") -
