div.app_context(id="band_members", data-bind="visible: $root.current_tab().value == 4")
  div.app_context_header Band Members
  div.app_context_item
    div.display
      div.control(data-bind="if: $root.current_band_member().band_admin")
        button.edit_button(id="add_band_member", data-bind="click: forms.add_band_member.show.bind(forms.add_band_member)") +
        label(for="add_band_member") Add Members

      div.filters
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort(data-bind="with: band_members")
                  select(data-bind="value: sort_type, options: sort_compare_labels, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter(data-bind="with: band_members.filter_values")
                  div.filter_label Person Name
                  input(type="text", data-bind="value: person_name, valueUpdate: 'afterkeydown'")

                div.filter(data-bind="with: band_members.filter_values")
                  div.filter_label Person Email
                  input(type="text", data-bind="value: person_email, valueUpdate: 'afterkeydown'")
 
                div.filter(data-bind="with: band_members.filter_values")
                  div.filter_label Only Band Admins
                  input(type="checkbox", data-bind="checked: band_admin")

      div.list
        table
          thead
            tr
              th Person Name
              th Email
              th Admin
              th(data-bind="if: $root.current_band_member().band_admin")

          tbody(data-bind="foreach: current_members")
            tr
              td(data-bind="text: person().full_name")
              td(data-bind="text: person().email")
              td
                input(name="band_admin", type="checkbox", data-bind="checked: band_admin, enable: $root.current_band_member().band_admin, event: { change: $root.update_table_object }")

              td(data-bind="if: $root.current_band_member().band_admin")
                button.edit_button(data-bind="click: $root.delete_table_object") -
