section.app_context(id="band_members")
  a(href="#band_members") Band Members
  div.app_context_item
    div.display
      div.control(data-bind="if: $root.current_band_member().band_admin")
        button.edit_button(id="add_band_member", data-bind="click: forms.add_band_member.show.bind(forms.add_band_member)") +
        label(for="add_band_member") Add Members

      div.filters
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort
                  select(data-bind="options: $root.band_member_sorts, value: band_members.sort_type, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter
                  label(for="band_members_person_name_filter") Person Name
                  input(name="band_members_person_name_filter", type="text", data-bind="value: band_members.filter_values.person_name")

                div.filter
                  label(for="band_members_person_email_filter") Person Email
                  input(name="band_members_person_email_filter", type="text", data-bind="value: band_members.filter_values.person_email")
              
      div.list
        table
          thead
            tr
              th Person Name
              th Email
              th Admin
              th(data-bind="if: $root.current_band_member().band_admin")

          tbody(data-bind="foreach: current_members")
            tr
              td(data-bind="text: person().full_name")
              td(data-bind="text: person().email")
              td
                input(name="band_admin", type="checkbox", data-bind="checked: band_admin, enable: $root.current_band_member().band_admin, event: { change: $root.update_table_object }");

              td(data-bind="if: $root.current_band_member().band_admin")
                button.edit_button(data-bind="click: $root.delete_table_object") -
