div.app_context(id="dashboard", data-bind="visible: $root.current_tab().value == 0")
  div.app_context_header Dashboard
  div.app_context_item
    div.display
      div.control
        button.edit_button(id="create_rehearsal_plan"
                           data-bind="click: rehearsal_plan.create_plan_form.showForm") + 

        label(for="create_rehearsal_plan") Create Rehearsal Plan

      div.filters(style="display: none")
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort

              td
                div.filter


      div.list.dashboard_list(data-bind="with: request")
        div.title Requests
        div.title(data-bind="text: last_error")
        table
          thead
            tr
              th
              th Time
              th Person
              th Band
              th Type
              th Status

          tbody(data-bind='foreach: sort.getList')
            tr
              td
                div
                  select(url_param, data-bind="enable: actions_list().length, \
                                    options: actions_list, \
                                    optionsText: 'label', \
                                    optionsValue: 'value', \
                                    optionsCaption: '-Select Action-', \
                                    event: { change: table.applyRequestAction }")

              td(data-bind="text: timestamp")
              td(data-bind="text: person_name")
              td(data-bind="text: band_name")
              td(data-bind="text: pretty_request_type")
              td(data-bind="text: pretty_status")

      div.list.dashboard_list(data-bind="if: current_band")
        div.title Reports
        div.title(data-bind="text: report.last_error")
        table
          thead
            tr
              th Type
              th Date

          tbody(data-bind='foreach: current_band().reportList.views.default.sort.getList')
            tr
              td
                a(data-bind="text: report_type, attr: { href: url }")

              td(data-bind="text: timestamp")
