div.app_context(id="dashboard", data-bind="visible: $root.current_tab().value == 0")
  div.app_context_header Dashboard
  div.app_context_item
    div.display
      div.control
        button.edit_button(id="create_rehearsal_plan"
                           data-bind="click: rehearsal_plan.create_plan_form.showForm") + 

        label(for="create_rehearsal_plan") Create Rehearsal Plan

      div.filters(style="display: none")
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort

              td
                div.filter

      div.control
        div.control_button(data-bind="click: $root.dashboard_click"
                           name="requests") Requests

        div.control_button(data-bind="click: $root.dashboard_click"
                           name="reports") Reports

        div.control_button(data-bind="click: $root.dashboard_click"
                           name="rehearsal_plans") Rehearsal Plans

      div.list.dashboard_list(data-bind="with: request, css: { hidden: $root.dashboard_list() != 'requests' }")
        div.title Requests
        div.title(data-bind="text: last_error")
        table
          thead
            tr
              th
              th Time
              th Person
              th Band
              th Type
              th Status

          tbody(data-bind="foreach: sort.getList")
            tr
              td
                div
                  select(url_param, data-bind="enable: actions_list().length, \
                                    options: actions_list, \
                                    optionsText: 'label', \
                                    optionsValue: 'value', \
                                    optionsCaption: '-Select Action-', \
                                    event: { change: table.applyRequestAction }")

              td(data-bind="text: timestamp")
              td(data-bind="text: person_name")
              td(data-bind="text: band_name")
              td(data-bind="text: pretty_request_type")
              td(data-bind="text: pretty_status")

      div.list.dashboard_list(data-bind="if: current_band, css: { hidden: $root.dashboard_list() != 'reports' }")
        div.title Reports
        div.title(data-bind="text: report.last_error")
        table
          thead
            tr
              th Type
              th Date

          tbody(data-bind="foreach: current_band().reportList.views.default.sort.getList")
            tr
              td
                a(data-bind="text: report_type, attr: { href: url }")

              td(data-bind="text: timestamp")

      div.list.dashboard_list(data-bind="if: current_band, css: { hidden: $root.dashboard_list() != 'rehearsal_plans' }")
        div.title Rehearsal Plans
        div.title(data-bind="text: rehearsal_plan.last_error")
        table.song_list
          thead
            tr
              th Rehearsal Date
              th Run Through Songs
              th Learning Songs

          tbody(data-bind="foreach: current_band().rehearsalPlanList.views.default.sort.getList")
            tr
              td
                div(data-bind="text: rehearsal_date")

              td
                 div.song_list
                   div.list_row(data-bind="foreach: rehearsalPlanRunThroughSongList.views.default.sort.getList")
                     div
                       div(data-bind="text: sequence")
                       div(data-bind="text: band_song().description")
           
               td
                 div.song_list
                   div.list_row(data-bind="foreach: rehearsalPlanLearningSongList.views.default.sort.getList")
                     div
                       div(data-bind="text: sequence")
                       div(data-bind="text: band_song().description")
