section.app_context(id="my_bands")
  a(href="#my_bands") Bands
  div.app_context_item
    div.display
      div.control
        button.edit_button(id="join_bands", data-bind="click: forms.join_band.show.bind(forms.join_band)") +
        label(for="join_bands") Join Band

      div.filters
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort
                  select(data-bind="options: $root.membership_sorts, value: band_members.sort_type, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter
                  label(for="band_members_band_name_filter") Name
                  input(name="band_members_band_name_filter", type="text", data-bind="value: band_members.filter_values.band_name, valueUpdate: 'afterkeydown'")
              
      div.list
        table
          thead
            tr
              th Name
              th

          tbody(data-bind="foreach: current_memberships")
            tr
              td(data-bind="text: band().name")
              td
                button.edit_button(data-bind="click: $root.delete_table_object") -
