div.app_context(id="persons", data-bind="if: $root.current_person().system_admin, visible: $root.current_tab().value == 2")
  div.app_context_header All Persons
  div.app_context_item
    div.display
      div.control
        button.edit_button(id="add_persons", data-bind="click: forms.add_person.show.bind(forms.add_person)") +
        label(for="add_persons") Add Person

      div.filters
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort(data-bind="with: persons")
                  select(data-bind="value: sort_type, options: sort_compare_labels, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter(data-bind="with: persons.filter_values")
                  div.filter_label Name
                  input(type="text", data-bind="value: name, valueUpdate: 'afterkeydown'")
              
                div.filter(data-bind="with: persons.filter_values")
                  div.filter_label Full Name
                  input(type="text", data-bind="value: full_name, valueUpdate: 'afterkeydown'")
              
                div.filter(data-bind="with: persons.filter_values")
                  div.filter_label Email
                  input(type="text", data-bind="value: email, valueUpdate: 'afterkeydown'")
              
                div.filter(data-bind="with: persons.filter_values")
                  div.filter_label Only System Admins
                  input(type="checkbox", data-bind="checked: system_admin")

                div.filter(data-bind="with: persons.filter_values")
                  div.filter_title Band Count
                  div
                    div.filter_label Min
                    input(type="number", inputmode="numeric", data-bind="value: minimum_band_count, valueUpdate: 'afterkeydown'")

                  div
                    div.filter_label Max
                    input(type="number", inputmode="numeric", data-bind="value: maximum_band_count, valueUpdate: 'afterkeydown'")

      div.list
        table
          thead
            tr
              th Name
              th Full Name
              th Email
              th Admin
              th Memberships
              th

          tbody(data-bind="foreach: persons.filtered_list")
            tr
              td(data-bind="text: name")
              td(data-bind="text: full_name")
              td(data-bind="text: email")
              td
                input(name="system_admin", type="checkbox", data-bind="checked: system_admin, event: { change: $root.update_table_object }")

              td(data-bind="text: membership_count")
              td(data-bind="ifnot: membership_count")
                button.edit_button(data-bind="click: $root.delete_table_object") -
