div.app_context(id="persons", data-bind="if: current_is_system_admin, visible: $root.current_tab().value == 2")
  div.app_context_header All Persons
  div.app_context_item
    div.display
      div.control(data-bind="with: person")
        button.edit_button(data-bind="click: showForm") +
        label(for="add_persons") Add Person

      div.filters(data-bind="with: person")
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort(data-bind="with: sort")
                  select(data-bind="value: sort_type, options: compare_labels, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter(data-bind="with: filters.name")
                  input(type="checkbox", data-bind="checked: active")
                  div.filter_label Name
                  input(type="text", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                div.filter(data-bind="with: filters.full_name")
                  input(type="checkbox", data-bind="checked: active")
                  div.filter_label Full Name
                  input(type="text", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                div.filter(data-bind="with: filters.email")
                  input(type="checkbox", data-bind="checked: active")
                  div.filter_label Email
                  input(type="text", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                div.filter(data-bind="with: filters.system_admin")
                  input(type="checkbox", data-bind="checked: active")
                  div.filter_label Only System Admins
                  input(type="checkbox", data-bind="checked: filter_value")

                div.filter
                  div.filter_title Band Count
                  div(data-bind="with: filters.min_band_count")
                    input(type="checkbox", data-bind="checked: active")
                    div.filter_label Min
                    input(type="number", inputmode="numeric", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

                  div(data-bind="with: filters.max_band_count")
                    input(type="checkbox", data-bind="checked: active")
                    div.filter_label Max
                    input(type="number", inputmode="numeric", data-bind="value: filter_value, valueUpdate: 'afterkeydown'")

      div.list
        table
          thead
            tr
              th Name
              th Full Name
              th Email
              th Admin
              th Memberships
              th

          tbody(data-bind="foreach: person.sort.getList")
            tr
              td(data-bind="text: name")
              td(data-bind="text: full_name")
              td(data-bind="text: email")
              td
                input(name="system_admin", type="checkbox", data-bind="checked: system_admin, event: { change: modifyRow }")

              td(data-bind="text: bandMemberCount")
              td(data-bind="ifnot: bandMemberCount")
                button.edit_button(data-bind="click: deleteRow") -
