section.app_context(id="songs")
  a(href="#songs") Songs
  div.app_context_item
    div.display
      div.control
        button.edit_button(id="add_songs", data-bind="click: forms.add_song.show.bind(forms.add_song)") +
        label(for="add_songs") Add Song

      div.filters
        table
          thead
            tr
              th Sort Type
              th Filters

          tbody
            tr
              td
                div.sort
                  select(data-bind="options: songs.sort_compare_labels, value: songs.sort_type, optionsText: 'label', optionsValue: 'value'")

              td
                div.filter
                  label(for="songs_name_filter") Song Name
                  input(name="songs_name_filter", type="text", data-bind="value: songs.filter_values.name, valueUpdate: 'afterkeydown'")

                div.filter
                  label(for="songs_artist_id_filter") Artist
                  select(name="songs_artist_id_filter", data-bind="options: manager.artists.list, value: songs.filter_values.artist_id, optionsText: 'name', optionsValue: 'id', optionsCaption: '-All Artists-'")
              
      div.list
        table
          thead
            tr
              th
              th Name
              th Artist Name
              th Bands
              th

          tbody(data-bind="foreach: songs.filtered_list")
            tr
              td(data-bind="click: $root.edit_table_object.bind($root.forms.edit_song)") &#x270e;
              td(data-bind="text: name")
              td(data-bind="text: artist().name")
              td(data-bind="text: band_count")
              td(data-bind="ifnot: band_count")
                button.edit_button(data-bind="click: $root.delete_table_object") -
