div#add_artist_form(data-bind="visible: forms.add_artist.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Add Artist
        div.close_button
          button.close_button(data-bind="click: forms.add_artist.hide.bind(forms.add_artist)") X

      div.dialog_body
        div.title(data-bind="text: forms.add_artist.message")
        form(data-bind="submit: postFormChange", form_key="add_artist")
          input(data-bind="value: forms.add_artist.name", type="text", placeholder="New Artist Name")
          input(type="submit", value="Add")
