div#add_person_form(data-bind="visible: forms.add_person.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Add Person
        div.close_button
          button.close_button(data-bind="click: forms.add_person.hide.bind(forms.add_person)") X

      div.dialog_body
        div.title(data-bind="text: forms.add_person.message")
        form(data-bind="submit: postFormChange", form_key="add_person")
          input(data-bind="value: forms.add_person.name", type="text", placeholder="New Login Name")
          input(data-bind="value: forms.add_person.full_name", type="text", placeholder="Full Name")
          input(data-bind="value: forms.add_person.email", type="email", placeholder="E-Mail")
          input(type="submit", value="Add")
