div#add_song_form(data-bind="visible: forms.add_song.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Add Song
        div.close_button
          button.close_button(data-bind="click: forms.add_song.hide.bind(forms.add_song)") X

      div.control
        button.edit_button(id="add_artists", data-bind="click: forms.add_artist.show.bind(forms.add_artist)") +
        label(for="add_artists") Add Artist

      div.dialog_body
        div.title(data-bind="text: forms.add_song.message")
        form(data-bind="submit: forms.add_song.postChange")
          input(data-bind="value: forms.add_song.name", type="text", placeholder="New Song Name")
          select(data-bind="options: $root.artists.list, value: forms.add_song.artist, optionsText: 'name'")
          select(data-bind="value: forms.add_song.key_signature, enable: $root.current_band_member().band_admin, options: manager.key_signature_map, optionsText: 'value_text', optionsValue: 'value', event: { change: $root.update_table_object }")
          input(type="submit", value="Add")
