div#add_band_member_form(data-bind="visible: forms.add_band_member.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Add Band Member
        div.close_button
          button.close_button(data-bind="click: forms.add_band_member.hide.bind(forms.add_band_member)") X

      div.control
        button.edit_button(id="add_people", data-bind="click: forms.add_person.show.bind(forms.add_person)") +
        label(for="add_people") Add Person

      div.dialog_body
        div.title(data-bind="text: forms.add_band_member.message")
        form(data-bind="submit: postFormChange", form_key="add_band_member")
          div(data-bind="searchableSelect: forms.add_band_member.person, optionsList: $root.non_band_members, optionsText: 'full_name'")
          input(type="submit", value="Add")
