div#add_band_song_form(data-bind="visible: forms.add_band_song.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Add Band Song
        div.close_button
          button.close_button(data-bind="click: forms.add_band_song.hide.bind(forms.add_band_song)") X

      div.control
        button.edit_button(id="add_songs", data-bind="click: forms.add_song.show.bind(forms.add_song)") +
        label(for="add_songs") Add Song

      div.dialog_body
        div.title(data-bind="text: forms.add_band_song.message")
        form(data-bind="submit: forms.add_band_song.postChange")
          select(data-bind="options: $root.non_band_songs, value: forms.add_band_song.song, optionsText: 'description'")
          input(type="submit", value="Add")
