div
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Add Band Member
        div.close_button
          button.close_button(data-bind="click: dispose") X

      div.control(data-bind="with: table.reftables.person")
        button.edit_button(id="add_people", data-bind="click: showForm") +
        label(for="add_people") Add Person

      div.dialog_body
        div.title(data-bind="text: message")
        form(data-bind="submit: submit")
          input(name="action", type="hidden", value="add_band_member")
          div(data-bind="searchableSelect: row.person_id, \
                         optionsList: table.context_base.current_band().otherPersons, \
                         optionsValue: 'id', \
                         optionsText: 'full_name'")

          input(type="submit", data-bind="attr: {value: button_text}")
