div
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Band Editor
        div.close_button
          button.close_button(data-bind="click: dispose") X

      div.dialog_body
        div.title(data-bind="text: message")
        form(data-bind="submit: submit")
          input(data-bind="value: row.name", type="text", placeholder="New Band Name")
          input(type="submit", data-bind="attr: {value: button_text}")
