div
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Change Password
        div.close_button
          button.close_button(data-bind="click: dispose") X

      div.dialog_body
        div.title(data-bind="text: message")
        form(data-bind="submit: submit")
          input(type="hidden", name="pubkey", value="#{pubkey}")
          input(data-bind="value: row.old_password", type="password", placeholder="Old Password")
          input(data-bind="value: row.new_password", type="password", placeholder="New Password")
          input(data-bind="value: row.confirm_password", type="password", placeholder="Confirm New Password")
          input(type="submit", data-bind="attr: {value: button_text}")
