div#change_password_form(data-bind="visible: forms.change_password.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Change Password
        div.close_button(data-bind="with: table")
          button.close_button(data-bind="click: disposeForm") X

      div.dialog_body
        div.title(data-bind="text: forms.change_password.message")
        form(data-bind="submit: putFormChange", form_key="change_password")
          input(type="hidden", name="pubkey", value="#{pubkey}")
          input(data-bind="value: row.old_password", type="password", placeholder="Old Password")
          input(data-bind="value: row.new_password", type="password", placeholder="New Password")
          input(data-bind="value: row.confirm_password", type="password", placeholder="Confirm New Password")
          input(type="submit", data-bind="attr: {value: button_text}")
