div#change_password_form(data-bind="visible: forms.change_password.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Change Password
        div.close_button
          button.close_button(data-bind="click: forms.change_password.hide.bind(forms.change_password)") X

      div.dialog_body
        div.title(data-bind="text: forms.change_password.message")
        form(data-bind="submit: function() { Form.putChange(forms.change_password, current_person); }")
          input(type="hidden", name="pubkey", value="#{pubkey}")
          input(data-bind="value: forms.change_password.old_password", type="password", placeholder="Old Password")
          input(data-bind="value: forms.change_password.new_password", type="password", placeholder="New Password")
          input(data-bind="value: forms.change_password.confirm_new_password", type="password", placeholder="Confirm New Password")
          input(type="submit", value="Update")

