div
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Create Rehearsal Plan
        div.close_button
          button.close_button(data-bind="click: dispose") X

      div.dialog_body
        div.title(data-bind="text: message")
        form(data-bind="submit: submit")
          date-selector(data-bind="value: row.rehearsal_date")
          div Run Through Songs
          list-selector(params="sort_reverse: false"
                        data-bind="value: row.run_through_selected, \
                        sourceList: row.run_through_unselected")

          hr
          div Songs To Work On
          list-selector(params="sort_reverse: false"
                        data-bind="value: row.learning_selected, \
                        sourceList: row.learning_unselected")

          hr
          input(type="submit", data-bind="attr: {value: button_text}")
