div#create_rehearsal_plan_form(data-bind="visible: forms.create_rehearsal_plan.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Create Rehearsal Plan
        div.close_button
          button.close_button(data-bind="click: forms.create_rehearsal_plan.hide.bind(forms.create_rehearsal_plan)") X

      div.dialog_body
        div.title(data-bind="text: forms.create_rehearsal_plan.message")
        form(data-bind="submit: postFormChange", form_key="create_rehearsal_plan")
          div Run Through Songs
          list-selector(class="create_rehearsal_run_through" params="source: forms.create_rehearsal_plan.run_through_unselected, destination: forms.create_rehearsal_plan.run_through_selected, class: 'create_rehearsal_run_through', sort_reverse: false")

          hr
          div Songs To Work On
          list-selector(class="create_rehearsal_learning" params="source: forms.create_rehearsal_plan.learning_unselected, destination: forms.create_rehearsal_plan.learning_selected, class: 'create_rehearsal_learning', sort_reverse: false")

          hr
          input(type="submit", value="Create")
