div#edit_song_form(data-bind="visible: forms.edit_song.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Edit Song
        div.close_button
          button.close_button(data-bind="click: forms.edit_song.hide.bind(forms.edit_song)") X

      div.control
        button.edit_button(id="edit_artists", data-bind="click: forms.edit_artist.show.bind(forms.edit_artist)") +
        label(for="edit_artists") Edit Artist

      div.dialog_body
        div.title(data-bind="text: forms.edit_song.message")
        form(data-bind="submit: putFormChange", form_key="edit_song")
          input(data-bind="value: forms.edit_song.name", type="text", placeholder="New Song Name")
          div(data-bind="searchableSelect: forms.edit_song.artist, optionsList: $root.artists.list, optionsText: 'name'")
          select(data-bind="value: forms.edit_song.key_signature, enable: $root.current_band_member().band_admin, options: manager.key_signature_map, optionsText: 'value_text', optionsValue: 'value'")
          input(type="submit", value="Submit Changes")
