div#edit_artist_form(data-bind="visible: forms.edit_artist.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Edit Artist
        div.close_button
          button.close_button(data-bind="click: forms.edit_artist.hide.bind(forms.edit_artist)") X

      div.dialog_body
        div.title(data-bind="text: forms.edit_artist.message")
        form(data-bind="submit: function() { Form.putChange(forms.edit_artist, forms.edit_artist.artist); }")
          input(data-bind="value: forms.edit_artist.name", type="text", placeholder="New Artist Name")
          input(type="submit", value="Submit Changes")
