div#join_band_form(data-bind="visible: forms.join_band.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Join Band
        div.close_button
          button.close_button(data-bind="click: forms.join_band.hide.bind(forms.join_band)") X

      div.control
        button.edit_button(id="add_bands", data-bind="click: forms.add_band.show.bind(forms.add_band)") +
        label(for="add_bands") Add Band

      div.dialog_body
        div.title(data-bind="text: forms.join_band.message")
        form(data-bind="submit: postFormChange", form_key="join_band")
          div(data-bind="searchableSelect: forms.join_band.band, optionsList: $root.other_bands, optionsText: 'name'")
          input(type="submit", value="Join")
