div
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Join Band
        div.close_button
          button.close_button(data-bind="click: dispose") X

      div.control(data-bind="with: table.reftables.band")
        button.edit_button(id="add_bands", data-bind="click: showForm") +
        label(for="add_bands") Add Band

      div.dialog_body(data-bind="if: table.context_base.current_person")
        div.title(data-bind="text: message")
        form(data-bind="submit: submit")
          input(name="action", url_param, type="hidden", value="join_band")
          div(data-bind="searchableSelect: row.band_id, \
                         optionsList: table.context_base.current_person().otherBands, \
                         optionsValue: 'id', \
                         optionsText: 'name'")

          input(type="submit", data-bind="attr: {value: button_text}")
