div#join_band_form(data-bind="visible: forms.join_band.isVisible")
  div.dialog_background
    div.dialog
      div.title_bar
        div.title Join Band
        div.close_button
          button.close_button(data-bind="click: forms.join_band.hide.bind(forms.join_band)") X

      div.control
        button.edit_button(id="add_bands", data-bind="click: forms.add_band.show.bind(forms.add_band)") +
        label(for="add_bands") Add Band

      div.dialog_body
        form(data-bind="submit: function() { Form.postChange(forms.join_band, band_members)}")
          select(data-bind="options: $root.other_bands, value: forms.join_band.band, optionsText: 'name'")
          input(type="submit", value="Join")
