table(cellpadding="0", cellspacing="0")
  tr
    th Full Name
    th Email

    if band_admin
      th Admin
      th

  each member in band_members
    tr.display(member_id="#{member.id}")
      td #{member.full_name}
      td #{member.email}

      if band_admin
        td.band_admin
          if (member.band_admin)
            input(type="checkbox", checked)
          else
            input(type="checkbox")

  
        td.delete
          input(type="button", value="-", name="delete")
