div
  input(type="button", id="show_create_member", name="create_member", value="+")
  label(for="show_create_member") Create A Band Member

  form
    input(type="hidden", name="band_id", value="#{band_id}")
    select(name="person_id")
      each person in non_band_members
        option(value="#{person.id}") #{person.full_name}
    input(type="submit", value="Add")
