div
  form
    input(type="hidden", name="band_id", value="#{band_id}")
    input(type="text", name="name", placeholder="New Login Name")
    input(type="text", name="full_name", placeholder="Full Name")
    input(type="submit", value="New")
